<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PDF Toolkit"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.PDFToolkit.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFToolkit.NoActionBar" />
        
        <activity
            android:name=".AllFilesActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFToolkit.WithActionBar" />

        <activity
            android:name=".PdfViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFToolkit.NoActionBar" />
            
        <activity
            android:name=".ScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.PDFToolkit.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pdf.toolkit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
